@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.footer {
  background-color: #3d3d3d;

  .row {
    padding: 25px;
    text-align: center;

    .links {
      display: flex;
      justify-content: center;
      align-items: center;
      a {
        text-decoration: none;
        color: #4b4b4b;
        margin-right: 15px;
      }
      a:hover {
        color: $color-white;
      }
    }
  }
}
.media {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: stretch;
  align-items: center;
  border-bottom: 1px solid #4b4b4b;
  a {
    color: #4b4b4b;
    font-size: 50px;
    padding: 60px 100px;
    position: relative;
  }

  .twitter:hover {
    color: rgb(68, 68, 216);
  }

  .facebook:hover {
    color: rgb(15, 15, 115);
  }
  .instagram:hover {
    color: rgb(229, 67, 67);
  }
  .pinterest:hover {
    color: rgb(26, 201, 201);
  }
}
.logo_div {
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo_div button {
  padding: auto;
  font-size: 30px;
  color: $color-black;
  border: none;
  cursor: pointer;
  font-family: inherit;
  font-weight: 800;
  background-color: transparent;
  height: 50px;
}
