@import '../../../styles/settings.scss';
@import '../../../styles/global.scss';

.card {
  width: 80%;
  height: 554px;
  border-radius: 4px;
  display: flex;
  gap: 5px;
}

.card img {
  z-index: 0;
  height: 100%;
  flex: 1;
  overflow: hidden;
  cursor: pointer;
  border-radius: 2px;
  transition: all 0.5s;
  border: 1px solid #ff5a91;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.6;
  object-fit: cover;
}

.card img:hover {
  flex: 5;
  opacity: 1;
}
