@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,400;0,700;1,700&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  font-family: $font1;
}

.btn {
  border-radius: 50rem;
}
