@import './settings.scss';
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap');
*,
*::before,
*::after {
  box-sizing: border-box;
}

main {
  font-family: 'Karla', sans-serif;
}

.btn {
  border-radius: 50rem;
}
